.Cart {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  overflow: hidden;
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .Cart {
    margin: 0;
  }
}

.Cart-closeBtn {
  margin-right: 20px;
}

.Cart-content {
  min-height: 12rem;
  padding: 4rem 0;
  overflow: auto;
}

.Cart-empty {
  text-align: center;
}

.Cart-header {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3rem;
}
