.Cart {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  overflow: hidden;
}

.Cart-closeBtn {
  margin-right: 20px;
}

.Cart-content {
  min-height: 12rem;
  padding: 4rem 0;
  overflow: auto;
}

.Cart-empty {
  text-align: center;
}
